*{
    box-sizing: border-box;
}

h2{
    color: white;
}

body {
    
    overflow-x: hidden;
}

a.navbar-brand.text-danger {
    font-size: 40px;
    font-weight: bold;
}

.body-color{
    background:  #141414;
}